@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    .no-print {
        display: none !important;
    }
    .print-slide {
        page-break-after: always;
        break-after: page;
    }
}
